.scrollAddAdmin{
    height: 80%;
    width: 90%;
    overflow: auto;
}

.addGroup{
    height: 100%;
    color: green;
    width: 12%;
    cursor: pointer;
}

.addGroup:active{
    transform: scale(1.1);
}